﻿/* collapsible-block-5.css */
/* 2022-01-29 usp */

[cbc] {
	}
[cbc]+div {
	margin-left: -30px ;
	padding-left : 30px ;
	overflow-y : hidden ;
	}
[cbc]:before {
    content : "\00A0"  ;  /* non-breaking space gives it a content */
    display : inline-block ;
	margin-left : -30px ;
    width : 30px ;
    height : auto ;
    background-size : 0.8em ;
    background-repeat : no-repeat ;
	background-position-x : center ;
	background-position-y : center ;
	}
[cbc="expanded"]:before {
    background-image: url("orange-minus.svg") ;
	}
[cbc="collapsed"]:before {
    background-image : url("orange-plus.svg") ;
	}
[cbc="collapsed"] + div + [cbc] {
	margin-top: 0px ;
	}
[cbc]+div>*:first-child { 
	margin-top : 0px
	}

[cbc="expanded"][active]:before {
    background-image : url("/inc/collapsible/orange-minus-active.svg") !important ;
	}
[cbc="collapsed"][active]:before {
    background-image : url("/inc/collapsible/orange-plus-active.svg") !important ;
	}
h1[cbc], h2[cbc], h3[cbc], h4[cbc], h5[cbc] {
	margin-top : 30px ;
	}
h1[cbc]:before, h2[cbc]:before, h3[cbc]:before, h4[cbc]:before, h5[cbc]:before {
    width : 40px ;	
	}

ul.collapsible {
	line-height : 150% ;
	padding-left : 25px ;
	}
ul.collapsible li {
	list-style-type : none ;
	}
ul.collapsible li::before {
	background-position-x : 0px ;
	margin-left : -25px ;
	width : 25px ;
	}
ul.collapsible ul {
	overflow-y : hidden ;
	margin-left : -10px ;
	padding-left : 25px ;
    }
[cbc-default="collapsed"] .collapsible ul,
[cbc-default="collapsed"] .collapsible ol {
	height : 0px ;
    }

ol.collapsible {
	line-height : 150% ;
	margin-left : 17px ;
	padding-left : 25px ;
	}
ol.collapsible li::before {
    width : 40px ;
	margin-left : -40px ;
	background-position-x : 0px ;
	}
ol.collapsible ol {
	overflow-y : hidden ;
	margin-left : -20px ;
    }
[cbc-default="collapsed"] ol.collapsible {
	height : 0px ;
    }

ol.collapsible.instructions {
	margin-left : -20px ;
	}
ol.collapsible.instructions li::before {
	width : auto ;
	margin-left : -25px ;
	padding-left: 25px;
	}

dl.collapsible {
	line-height : 150% ;
	}
dl.collapsible > dt {
	margin-left : 25px ;
	}
dl.collapsible > dd {
	overflow-y : hidden ;
	margin-left : -10px ;
	padding-left : 25px ;
	}
dd > dl.collapsible {
	margin-top : 0px ;
	margin-bottom : 0px ;
	}

